
body{
    height: 100vh;
    background: url('image\ 2.jpg') no-repeat, center;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

html{
    overflow-y: hidden;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    color: #fff
}

.one{
    animation: one ease infinite 1s;
}

@keyframes one {
    0%{
        position: relative;
        top: 0;
        left: 0;
    }
    25%{
        position:relative;
        top: 40%;
        left: 60%;
        color: blue ;
    }
    50%{
        position: relative;
        top: 30%;
        left: 50%;
    }
    75%{
        position: relative;
        top: 50%;
        left: 45%;
        color: coral;
    }
    100%{
        position: relative;
        top: 0;
        left: 0;
        color: deeppink;
    }
}
.two{
    animation: two ease infinite .5s;
}

@keyframes two {
    0%{
        position: relative;
        top: 0;
        left: 0;
        color: lime;
    }
    25%{
        position:relative;
        top: 10%;
        left: 65%;
        color: yellow
    }
    50%{
        position: relative;
        top: 20%;
        left: 80%;
        color: darkviolet;
    }
    75%{
        position: relative;
        top: 5%;
        left: 45%;
        color: red

    }
    100%{
        position: relative;
        top: 0;
        left: 0;
        color: darkgrey;
    }
}

.three{
    animation: three ease infinite .2s;
}

@keyframes three {
    0%{
        position: relative;
        top: 0;
        left: 0;
        color: green;
    }
   
    50%{
        position: relative;
        
        left: 80%;
        color: palegreen;
    }
    
    100%{
        position: relative;
        
        left: 0;
        color: lightgreen;
    }
}
